<div
  class="modal fade"
  id="addEditModal"
  tabindex="-1"
  aria-labelledby="addEditModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEditModalLabel">Add Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>


      <form class="p-2" name="addEdit" action="/products/addEdit" method="post">
        
    
        <div class="modal-body">
         <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="productNameInput"
            name="name"
          />
          <label for="productNameInput">Product Name</label>
        </div>
        <div class="form-floating mb-3">
          <textarea
            type="text"
            class="form-control"
            id="productDescriptionInput"
            name="description"
            style="height: 240px;"
          ></textarea>
          <label for="productDescriptionInput">Product Description</label>
        </div>
        <div class="image-file">
            <input type="file" class="image-file-input" id="imageFile">
            <label class="image-file-label" for="imageFile">Choose Image</label>
          </div>
      </div>
      <div class="modal-footer">
        <input class="w-100 btn btn-lg btn-primary" id="addEditSubmitBtn" value="Add Product" type="submit">
          
    </input>  
      </div>
      </form>


    </div>
  </div>
</div>
