<div
  class="modal fade"
  id="loaderModal"
  tabindex="-1"
  aria-labelledby="loaderModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="padding: 195px">
    <div class="spinner-grow" style="width: 5rem; height: 5rem" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
