<!DOCTYPE html>
<html>
  <%- include('head'); -%>
  <body>
    <%- include('nav',{user}); -%>

    <div class="container p-5">
      <%- include('productsTable',{products: data,isAdmin:false}); -%>
    </div>

    <!---------- End of Wrapper ----------->
  </body>
  <!-- JavaScript Bundle with Popper -->
  <%- include('foot'); -%>
</html>
